.layout {
    width : 500px;
    margin : 0 auto;
    margin-top : 40px;
}

.layout input {
    width : 100%;
    box-sizing : border-box
}

.layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height : 300px;
}